version: "3.8"

services:
  web:
    build: ./app
    container_name: flask_web
    ports:
      - "5000:5000"
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: flask_redis
    volumes:
      - redis_data:/data

volumes:
  redis_data:
